*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.Barranavegacion {
    background: #050505;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}
.Barraimg {
    width: 65px;
    height: 26px;
}

.Opciones {
    list-style-type: none;
}
.Opciones li {
    display: inline;
}
.Opciones li button,
#botonSesion {
    width: 160px;
    background: #050505;
    color: #a3a0a0;
    font-weight: bold;
    padding: 3px;
    white-space: nowrap;
    border: none;
    cursor: pointer;
}

.posicion {
    display: flex;
    justify-content: center;
}
.imgSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;  
}
.img {
    height: 100%;
    width: 77%;
}
.container {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 150px 150px 150px;
    gap: 180px;
    justify-items: center;
    align-items: center;
    grid-template-areas: 'areaTitulo' 'noticia1 noticia2 areaDashboard';

}

.caja1 {
    background-color: aqua;
    grid-area: areaTitulo;
}

.caja2 {
    background-color: rgb(136, 127, 255);
    grid-area: noticia1;
}

.caja3 {
    background-color: blue;
    grid-area: areaDashboard;
}

.caja4 {
    background-color: chartreuse;
    grid-area: noticia2;
}

.caja5 {
    background-color: crimson;
}

.caja6 {
    background-color: darkkhaki;
}

.caja7 {
    background-color: darkolivegreen;
}

.caja8 {
    background-color: fuchsia;
    display: none;
}
.mifooter {
    background: #142baf;
    background-image: url(https://img5.goodfon.com/wallpaper/nbig/6/2f/mstiteli-voina-beskonechnosti-avengers-infinity-war-komiks-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 300px; 
}
.Opciones2 {
    list-style-type: none;
}

.Opciones2 li button {
    width: 0;
    color: #ffffff;
    font-weight: bold;
    white-space: nowrap;
    border: none;
    cursor: pointer;
}